html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.MuiTypography-h1 {
  font-size: 36px !important;
  font-weight: normal !important;
}

.MuiTypography-h2 {
  font-size: 26px !important;
  font-weight: normal !important;
}

.MuiTypography-h3 {
  font-size: 16px !important;
  font-weight: normal !important;
}

.MuiTypography-h6 {
  font-weight: lighter !important;
  font-size: 20px !important;
}

.MuiTypography-body1 {
  font-weight: lighter !important;
  font-size: 15px !important;
}

.text-italic {
  font-style: italic;
}

.cursor-pointer {
  cursor: pointer;
}

.MuiTypography-colorSecondary {
  color: #fff !important;
}
.image-circle {
  border-radius: 50%;
}
.img-border {
  border: 1px solid #c0c0c080;
}
.MuiButton-contained {
  background-color: #303030 !important;
  color: white !important;
  padding: 8px 30px !important;
  border-radius: 20px !important;
  box-shadow: none !important;
}
.MuiButton-outlined {
  color: #303030 !important;
  border: 1px solid #303030 !important;
  padding: 8px 30px !important;
  border-radius: 20px !important;
  box-shadow: none !important;
}