/* 
    -----------------------------------
    navbar
    -----------------------------------
*/
.appBar {
    box-shadow: none !important;
    padding-top: 20px;
}

/* 
    -----------------------------------
    headmaster
    -----------------------------------
*/
.headmaster {
    height: 100vh;
}

.profile {
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    border-radius: 70px 70px 0px 0px;
    height: 230px;
    margin-top: 40%;
    margin-bottom: 30px;
}

.profileImg {
    display: block;
    /* height: 10%; */
    width: 100%;
    margin-top: -50px;
}

/* 
    -----------------------------------
    story
    -----------------------------------
*/
.story {
    background-color: #4E4E4E;
    padding: 130px 0px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}


/* 
    -----------------------------------
    service
    -----------------------------------
*/
.service {
    margin-top: 100px;
    margin-bottom: 100px;
}

.serviceImage {
    border-radius: 30px;
    width: 100%;
}

/* 
    -----------------------------------
    works
    -----------------------------------
*/
.works {
    margin-top: 200px;
}


/* 
    -----------------------------------
    Collaborates
    -----------------------------------
*/
.collaborates {
    margin: 200px 0px;
}


/* 
    -----------------------------------
    Testimonials
    -----------------------------------
*/
.testimonials {
    margin: 200px 0px;
}


/* 
    -----------------------------------
    CTA
    -----------------------------------
*/
.cta {
    margin-top: 100px;
}


/* 
    -----------------------------------
    Footer
    -----------------------------------
*/
.footer {
    margin-top: 100px;
    background-color: #3E3E3E;
    padding: 50px;
    background-image: url('./pattern.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.iconBox {
    background-color: #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
}